{% extends '@User/layout.html.twig'%}

{#{% block title %}
    Авторизация
{% endblock %}

{% block body %}
<body class="hold-transition login-page">
<div class="login-box">
    
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="login-box-body">
        <p class="login-box-msg">Авторизуйтесь</p>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('fos_user_security_check') }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group has-feedback">
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}"/>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="password" class="form-control" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Запомнить меня
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <input type="submit" id="_submit" class="btn btn-primary btn-block btn-flat" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    <!--button-- type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button-->
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a><br>
        <a href="{{ path('fos_user_registration_register') }}" class="text-center">Регистрация</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</body>
{% endblock %}#}

{% block body %}
<body class="signin">
    <div class="container">
      <form class="form-signin"  action="{{ path('fos_user_security_check') }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <h2 class="form-signin-heading">Авторизация</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" name="_username" placeholder="Имя пользователя" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Пароль" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="_remember_me" value="remember-me"> Запомнить меня
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="_submit" type="submit">Войти</button>
      </form>

    </div> <!-- /container -->
</body>
{% endblock %}